@import './variables';
#navbar{
    background-color: $background;
    margin-top: 0px;
    width: 100%;
    margin-bottom: 26px;
    box-shadow: 0 7px 12px 0 rgba(62,57,107,.16);
    #container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1140px;
    #site-title{
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        color: $mainColor;
        text-decoration: none;
        padding-left:300px;
    }
    #menu-lg{
        display: flex;
        list-style: none;

        li{
            padding-left: 20px;
            a{
                color: $mainColor;
                text-decoration: none;
            }

        }
    }
    }
}