@import'./variables';
#footer{
    color: $textColor2;
    text-align: center!important;
    padding: 1.5rem!important;
    /* margin-top: 3rem!important; */
    background-color: $mainColor;
    height: 10px;
}